@charset "UTF-8";

.container {



}

.wrapper {
	min-height: 100vh; /*①高さの最小値*/
	position: relative; /*②相対位置*/
	padding-bottom: 120px;
	padding-top: 120px;

}

.column {
	height: auto;
	margin-right: 30%;
	margin-left: 30%;

}

.admission {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
}

.leaving {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.button1 {
	border-radius: 20%; /* 角丸       */
	font-size: 25pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 11px 30px; /* 余白       */
	background: #006633; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 13px 13px 18px #666666; /* 影の設定 */
	border: 2px solid #006633; /* 枠の指定 */
}

.button1:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #006633; /* 背景色     */
	background: #ffffff; /* 文字色     */
}

.button2 {
	border-radius: 20%; /* 角丸       */
	font-size: 25pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 11px 30px; /* 余白       */
	background: #ff0000; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 13px 13px 18px #666666; /* 影の設定 */
	border: 2px solid #ff0000; /* 枠の指定 */
}

.button2:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #ff0000; /* 背景色     */
	background: #ffffff; /* 文字色     */
}

.button {
	border-radius: 20%; /* 角丸       */
	font-size: 25pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 11px 30px; /* 余白       */
	background: #1a1aff; /* 背景色     */
	color: #ffffff; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	box-shadow: 13px 13px 18px #666666; /* 影の設定 */
	border: 2px solid #1a1aff; /* 枠の指定 */
	margin-bottom: 10px;
}

.button:hover {
	box-shadow: none; /* カーソル時の影消去 */
	color: #1a1aff; /* 背景色     */
	background: #ffffff; /* 文字色     */
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: # fff20a;
  border-bottom: 2px solid #ccc100;
}

