@charset "UTF-8";


.button1{
	 display       : inline-block;
  font-size     : 17pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #0059b3;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
  border        : 2px solid #0059b3;    /* 枠の指定 */
}

.button1:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #0059b3;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}