
footer{
  width: 100%;
  height: 70px;
  background: #333;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
}


/*　画面サイズが480px以下の場合ここの記述が適用される　*/
@media screen and (max-width:480px) {
  footer{
      width: 100%;
      height: 50px;
      background: #333;
      display: flex;
      flex-direction: column;
      color: #fff;
      font-size: 10px;
      text-align: center;
      padding: 15px 0;
      position: absolute;
      bottom: 0;
  }
}