header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #333;
  display: flex;
  flex-direction: column;

}{

}

.header-inner{
  max-width: auto;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-logo{
  flex: none;
  width: auto;
  height: 35px;
  margin-left: 20px;
}
.header-navgroup{
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex: none;
}
.header-navgroup > * + *{
  margin-left: 50px;
}
.header-navitem{
  padding:2px 8px;
  margin:0 5px;
  border:1px solid #777;
  background-color:#808080;
  border-radius:2px;
  float: right;
  font-size: 15px;
  color: #fff;
}
.header-title{
  font-size: 20px;
  margin-left: 30px;
  flex: none;
  color: #fff;
}

/*　画面サイズが480px以下の場合ここの記述が適用される　*/
@media screen and (max-width:480px) {
    header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: #333;
      display: flex;
      flex-direction: column;
    }
    .header-inner{
      max-width: auto;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .header-logo{
      flex: none;
      width: 80px;
      height: 25px;
      margin-left: 5px;
    }
    .header-navgroup{
      margin-left: auto;
      margin-right: 5px;
      display: flex;
      flex: none;
    }
    .header-navgroup > * + *{
      margin-left: 5px;
    }
    .header-navitem{
      float: right;
      font-size: 1px;
      color: #fff;
      padding:0px 4px;
      margin:0 1px;
      border:1px solid #777;
      background-color:#808080;
      border-radius:2px;
    }
    .header-title{
      font-size: 10px;
      margin-left: 5px;
      flex: none;
      color: #fff;
    }
}