body{
  background-image: url("../picture/timeReport.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

#naito {
  margin-top:200px;
  width: 600px;
  height: auto;
}

.card-header{
  font-size: 30px;
  max-width: auto;
  width: auto;
  height: 65px;
  text-align: center;
}

.login-card{
  text-align: center;   
}

.sign-up{
   text-align: right;  
}

/*　画面サイズが480px以下の場合ここの記述が適用される　*/
@media screen and (max-width:480px) {
    body{
      background-image: url("../picture/timeReport.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
    }
    #naito {
      margin-top:150px;
      width: auto;
      height: auto;
    }
    .card-header{
      font-size: 20px;
      max-width: auto;
      width: auto;
      height: 55px;
      text-align: center;
    }
    .login-card{
      font-size: 10px;
      text-align: center;   
    }
    .sign-up{
      font-size: 10px;
      text-align: right;  
    }
}