td{
	border: 1px #333 solid;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}


.wrapper{
  min-height: 100vh;/*①高さの最小値*/
  position: relative;/*②相対位置*/
  padding-bottom: 100px;
  padding-top: 100px;

}

.main{
	padding-left: 8px;
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: # fff20a;
  border-bottom: 2px solid #ccc100;
}
.column {
	height: auto;
	margin-right: 30%;
	margin-left: 30%;

}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 4px 12px;   /* 余白       */
  background    : #0000ff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #0000ff;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #0000ff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.btn--orange,
a.btn--orange {
  color: #000000;
  background-color: #00ff40;
  font-size:16px;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #000000;
  background: #00ff40;
  font-size:16px;
}